{# src/Aueio/ClubBundle/Resources/views/Team/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'email.message.title'|trans({'%to%': team.name}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "team"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_team_view', {"id": team.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_team_contact', {"id": team.id}) }}">{{ 'sidebar.contact'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_team_edit', {"id": team.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_team_delete', {"id": team.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_team_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="team">
	<h2>{{ 'email.message.title'|trans({'%to%': team.name}, 'AueioClubBundle') }}</h2>
	<label>{{ 'email.to'|trans({},'AueioClubBundle') }}</label>
	<ul id="to">
		{% for player in to %}
			<li class="player">
			{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}{% if loop.index > 0 and loop.index < to|length %},{% endif %}
			</li>
		{% else %}
	        <h3>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h3>
	    {% endfor %}
	</ul>
	<form action="{{ path('aueio_club_team_contact', {"id": team.id}) }}" {{ form_enctype(form) }} method="POST" class="aueio_club_team_contact">
		{{ form_label(form.subject) }}
        {{ form_errors(form.subject) }}
		<div id="subject"><div id="tag">{{ 'email.subject.tag'|trans({},'AueioClubBundle') }} </div>{{ form_widget(form.subject, { 'attr': { 'size' : 40, 'maxlength' : 40} }) }}</div>
		{{ form_label(form.message) }}
        {{ form_errors(form.message) }}
        <div id="message">
			{{ form_widget(form.message) }}
        </div>
		<div  id="form">{{ 'email.message.form'|trans({}, 'AueioClubBundle') }}</div>
		{% include 'AueioClubBundle:Player:link.html.twig' with {'player': app.user} %}
		<div>
			<input type="submit" value="{{ 'email.send'|trans({}, 'AueioClubBundle') }}" />
		</div>
		{{ form_rest(form) }}
	</form>
</div>
{% endblock %}
