{% block subject %}
{% autoescape false %}
{{ 'email.subject.tag'|trans({},'AueioClubBundle') }} {{ 'email.subject.recall'|trans({'%date%':game.date|localizeddate('full', 'none')}, 'AueioClubBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'email.message.hello'|trans({'%firstname%': ''}, 'AueioClubBundle') }}

{{ 'email.message.recall.link'|trans({}, 'AueioClubBundle') }}
{{ url('aueio_club_game_selection', {"id": game.id}) }}

{{ 'email.message.form'|trans({}, 'AueioClubBundle') }}
{{ from.firstname }} {{ from.lastname }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
{{ 'email.message.hello'|trans({'%firstname%': ''}, 'AueioClubBundle') }}
<br /><br />
{{ 'email.message.recall.date'|trans({}, 'AueioClubBundle') }}
{% include 'AueioClubBundle:Game:date.html.twig' %}
{% include 'AueioClubBundle:Game:time.html.twig' %}
{% include 'AueioClubBundle:Game:calendar.html.twig' %}
<br />
{{ 'email.message.recall.link'|trans({}, 'AueioClubBundle') }}
<a href="{{ url('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
{% include 'AueioClubBundle:Player:email.signature.html.twig' with {'player': from} %}
{% endautoescape %}
{% endblock %}
