{# src/Aueio/ClubBundle/Resources/views/Team/form.html.twig #}
{% form_theme form 'AueioClubBundle::form.theme.html.twig' %}

<div class="full">
	<div class="cols">
		<h3>{{ 'team_team'|trans({}, 'AueioClubBundle') }}</h3>
		{{ form_row(form.name, { 'attr': { 'size' : 31, 'maxlength' : 50} }) }}
		{{ form_row(form.colors) }}
		<div id="slot">
			<h4>{{ 'team_slot'|trans({}, 'AueioClubBundle') }}</h4>
			{{ form_row(form.slot_days) }}
			{{ form_row(form.slot_start_time) }}
			{{ form_row(form.slot_end_time) }}
		</div>
		{{ form_row(form.contacts) }}
		{{ form_row(form.seasons) }}
	</div><div id="gym" class="cols">
		<h3>{{ 'team.gym'|trans({}, 'AueioClubBundle') }}</h3>
		{{ form_row(form.gym_name) }}
		{{ form_row(form.gym_phone) }}
		<div id="slot">
			{{ form_row(form.gym_address) }}
		</div>
	</div>
	{% include 'AueioClubBundle::form.submit.html.twig' %}
</div>

