{# src/Aueio/ClubBundle/Resources/views/Team/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'team.title.list'|trans({'%count%': teams|length}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "team"} %}
{% endblock %}

{% block sidebar %}
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_team_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="team">
	<h2>{{ 'team.title.list'|trans({'%count%': teams|length}, 'AueioClubBundle') }}</h2>
	<ul class="list">
		<li>&nbsp;</li>
    {% for team in teams %}
		<li>{% include 'AueioClubBundle:Team:short.html.twig' with {'team': team}  %}</li>
    {% else %}
        <h3>{{ 'team.notfound'|trans({}, 'AueioClubBundle') }}</h3>
    {% endfor %}
	</ul>
</div>
{% endblock %}