{# src/Aueio/ClubBundle/Resources/views/Team/new.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'team.title.edit'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "team"} %}
{% endblock %}

{% block sidebar %}
	<li class="selected"><a href="{{ path('aueio_club_team_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endblock %}

{% block content %}
<div id="team">
	<form action="{{ path('aueio_club_team_new') }}" method="post" {{ form_enctype(form) }}>
		{% include 'AueioClubBundle:Team:form.html.twig' %}
	</form>
</div>
{% endblock %}