{# src/Aueio/ClubBundle/Resources/views/Game/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'config.title.edit'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "config"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_config_view', {"id": config.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_config_edit', {"id": config.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_config_delete', {"id": config.id}) }}">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
{% endblock %}

{% block content %}
	<form action="{{ path('aueio_club_config_edit', {"id": config.id}) }}" {{ form_enctype(form) }} method="POST" class="aueio_club_config_form">
	{% include 'AueioClubBundle:Config:form.html.twig' %}
	</form>
{% endblock %}
