{# src/Aueio/ClubBundle/Resources/views/Config/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Config view
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "config"} %}
{% endblock %}

{% block sidebar %}
	{% if config %}
		<li  class="selected"><a href="{{ path('aueio_club_config_view', {"id": config.id}) }}">View</a>
		<li><a href="{{ path('aueio_club_config_edit', {"id": config.id}) }}">Edit</a>
		<li><a href="{{ path('aueio_club_config_delete', {"id": config.id}) }}">Delete</a></li>
	{% else %}
		<li><a href="{{ path('aueio_club_config_new') }}">New</a></li>
	{% endif %}
{% endblock %}

{% block content %}
	{% if config %}
		<p> Team default : {{ config.teamDefault}}</p>
		<p> Secret : {{ config.secret}}</p>
	{% else %}
		<p> Pas de config</p>
	{% endif %}
{% endblock %}
