{# src/Aueio/ClubBundle/Resources/views/Config/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'config.title.view'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "config"} %}
{% endblock %}

{% block sidebar %}
	{% if config %}
		<li  class="selected"><a href="{{ path('aueio_club_config_view', {"id": config.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
		<li><a href="{{ path('aueio_club_config_edit', {"id": config.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
		<li><a href="{{ path('aueio_club_config_delete', {"id": config.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	{% else %}
		<li><a href="{{ path('aueio_club_config_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
	{% endif %}
{% endblock %}

{% block content %}
	{% if config %}
		<p>{{ 'config.team'|trans({'%team%':config.teamFocus}, 'AueioClubBundle') }}</p>
		<p>{{ 'config.season'|trans({'%season%':config.seasonCurrent}, 'AueioClubBundle') }}</p>
		<p>{{ 'config.secret'|trans({'%secret%':config.secret}, 'AueioClubBundle') }}</p>
	{% else %}
		<p>{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }} Pas de config</p>
	{% endif %}
{% endblock %}
