{# src/Aueio/ClubBundle/Resources/views/Game/edit.html.twig #}
{% extends 'AueioClubBundle:Game:header.html.twig' %}

{% block title %}
	{{ 'game.title.edit'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endblock %}

{% block content %}
	{{ parent() }}
		<form action="{{ path('aueio_club_game_edit', {"id": game.id}) }}" method="post" {{ form_enctype(form) }} id="aueio_club_game_form_edit">
			{% include 'AueioClubBundle:Game:form.html.twig' %}
		</form>
	</div>
</div>
{% endblock %}
