{# src/Aueio/ClubBundle/Resources/views/Game/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game edit {{ game.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle:Game:header.html.twig' %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">Selection</a>
	<li><a href="{{ path('aueio_club_game_result', {"id": game.id}) }}">Results</a>
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
	<li class="selected"><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">New</a></li>
{% endblock %}

{% block content %}
	<form action="{{ path('aueio_club_game_edit', {"id": game.id}) }}" method="post" {{ form_enctype(form) }}>
		{% include 'AueioClubBundle:Game:form.edit.html.twig' %}
	</form>
{% endblock %}
