{# src/Aueio/ClubBundle/Resources/views/Game/form.html.twig #}

<div class="game-view full">
	<div id="game-header">
		<div id="game-desc" class="game-col">
			<div id="game-avatar"
				<img alt="game photo" title="inria link" src="http://adt/bundles/inriajob/images/logo-inria.png">
			</div>
			<p>
				{{ form_row(form.date) }}
				{{ form_row(form.startTime) }}
				{{ form_row(form.endTime) }}
			</p>
		</div>
	</div>
	<h3>Teams</h3>
    <ul class="game-teams">
    {% for role in form.roles %}
        <li>
        	<div class="role-team">
        		<h4>{{ role.vars.value.type }}<h4>
        		{{ form_row(role.team) }}
			</div>
        </li>
    {% endfor %}
    </ul>

</div>
{{ form_rest(form) }}

<input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />