{# src/Aueio/ClubBundle/Resources/views/Player/form.html.twig #}

<div class="game-view full">
	<div id="game-header">
		<div id="game-desc" class="game-col">
			<div id="game-avatar"
				<img alt="game photo" title="inria link" src="http://adt/bundles/inriajob/images/logo-inria.png">
			</div>
			<p>
				{{ form_errors(form.date) }}
				{{ form_label(form.date, 'Date') }} {{ form_widget(form.date) }}
			</p>
		</div>
		<div id="game-comment" >
			<h4>
				{{ form_errors(form.comment) }}
				{{ form_label(form.comment, 'Comment') }}
			</h4>
			<p>
				{{ form_widget(form.comment) }}
			</p>
		</div>
	</div>
	<div id="game-visitor">
		<p>Visiteurs</p>
		<p>Score</p>
		<p>Team</p>
		<div class="game-players">
		</div>
	</div>
	<div id="game-locals">
		<p>Locaux</p>
		<p>Score</p>
		<p>Team</p>
		<div class="game-players">
		</div>
	</div>
</div>

{{ form_rest(form) }}

<input type="submit" value="Save" />