{% extends 'AueioClubBundle::layout.html.twig' %}

{% block content %}
<div id="game">
	<div class="full">
		<div id="intro" class="clearfix">
			{%  set roles = game.roles  %}
			<div class="left">
				{% if roles|length > 0 %}{% include 'AueioClubBundle:Team:link.html.twig' with {'team': roles[0].team} %}{% endif %}
				<div id="where">
					<h4>{{ 'game.header.where'|trans({}, 'AueioClubBundle') }}</h4><a href="#?w=600" rel="popup_gmap" class="poplight">{{ 'game.header.gmap.link'|trans({}, 'AueioClubBundle') }}</a>
					<div id="address">
						{% set local = game.local%}
						{{ local.gymName }}<br />
						{{ local.gymAddress.name }}<br />
						{{ local.gymAddress.code }} {{ local.gymAddress.city }}
						<div class="geo" style="display:none;">
							<div class="longitude">{{ local.gymAddress.longitude }}</div>
							<div class="latitude">{{ local.gymAddress.latitude }}</div>
						</div>
					</div>
					<div id="popup_gmap" class="popup_block">
						<div id="map_canvas"></div>
					</div>
				</div>
			</div><div class="scores">{% include 'AueioClubBundle:Role:score.html.twig' with {'role': roles[0]} %} - {% include 'AueioClubBundle:Role:score.html.twig' with {'role': roles[1]} %}</div><div class="right">
				{% if roles|length > 1 %}{% include 'AueioClubBundle:Team:link.html.twig' with {'team': roles[1].team} %}{% endif %}
				<div id="when">
					<h4>{{ 'game.header.when'|trans({}, 'AueioClubBundle') }}</h4>{% include 'AueioClubBundle:Game:calendar.html.twig' %}
					<div>
						<div id="when-text">
							{% include 'AueioClubBundle:Game:date.html.twig' %}
							<div>&nbsp;</div>
							{% include 'AueioClubBundle:Game:time.html.twig' %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent () }}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	{% javascripts '@AueioClubBundle/Resources/public/js/lib/jquery.googlemaps1.01.js' %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	$(document).ready(function(){
		//var map = null;
		var longitude = parseFloat($('div.longitude').html());
		var latitude = parseFloat($('div.latitude').html());
	
		var point = new google.maps.LatLng(latitude, longitude);
		
		var options = {
	            zoom : 18,
	            center: point,
	            mapTypeId : google.maps.MapTypeId.HYBRID
	    };
		
		var map = new google.maps.Map(document.getElementById('map_canvas'), options);
	        
	    // Creating and adding a marker in Google Maps
		var marker = new google.maps.Marker({
				position: point,
				map: map
		});
	        
		
    	 
		//When you click on a link with class of poplight and the href starts with a #
		$('a.poplight[href^=#]').click(function() {
			var popID = $(this).attr('rel'); //Get Popup Name
			var popURL = $(this).attr('href'); //Get Popup href to define size
			
			//Pull Query & Variables from href URL
			var query= popURL.split('?');
			var dim= query[1].split('&');
			var popWidth = dim[0].split('=')[1]; //Gets the first query string value
			
			//Fade in the Popup and add close button
			$('#' + popID).fadeIn().css({ 'height': 400, 'width': Number( popWidth ) }).prepend('<a href="#" class="close"><img src="/bundles/aueioclub/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>');
			
			//Define margin for center alignment (vertical + horizontal) - we add 80 to the height/width to accomodate for the padding + border width defined in the css
			var popMargTop = ($('#' + popID).height() + 80) / 2;
			var popMargLeft = ($('#' + popID).width() + 80) / 2;
			
			//Apply Margin to Popup
			$('#' + popID).css({
			'margin-top' : -popMargTop,
			'margin-left' : -popMargLeft
			});
			
			
			//Fade in Background
			$('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
			$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer
			
            google.maps.event.trigger(map, 'resize');
        	map.setCenter(point);
        	
			return false;
		});
			
		//Close Popups and Fade Layer
		$('a.close, #fade').live('click', function() { //When clicking on the close or fade layer...
			$('#fade , .popup_block').fadeOut(function() {
				$('#fade, a.close').remove();
			}); //fade them both out
			return false;
		});
	});
	</script>
{% endblock %}