{# src/Aueio/ClubBundle/Resources/views/Game/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'game.title.list'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
{% if is_granted("ROLE_LEADER") %}
<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<h2>{{ 'game.title.list'|trans({}, 'AueioClubBundle') }}</h2>
	<ul class="list">
		<li>
			<div class="short">
				<div class="name">
					<div class="link" style="text-align: center">
						{{- 'game.LOCAL'|trans({}, 'AueioClubBundle') -}}
					</div><div class="scores">
						{{- 'game.score'|trans({}, 'AueioClubBundle') -}}
					</div><div class="link" style="text-align: center">
						{{- 'game.VISITOR'|trans({}, 'AueioClubBundle') -}}
					</div>
				</div>
				<div class="short-link">
					<div class="link">
						{{ 'game.date'|trans({}, 'AueioClubBundle') }}
					</div>
				</div>
			</div>
		</li>
    {% for game in games %}
		<li>
			{% include 'AueioClubBundle:Game:short.html.twig' with {'game': game}  %}
		</li>
    {% else %}
        <h3>{{ 'game.notfound'|trans({}, 'AueioClubBundle') }}</h3>
    {% endfor %}
	</ul>
</div>
{% endblock %}