{# src/Aueio/ClubBundle/Resources/views/Game/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Games list
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle:Game:header.html.twig' %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_new') }}">New Game</a></li>
{% endblock %}

{% block content %}
	<h2> Liste des Matchs </h2>

	<ul>
    {% for game in games %}
		<li>
			<p>Match du <a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ game.date|date("d M Y") }}</a>
			<a href="{{ path('aueio_club_team_view', {"id": game.teams[0].team.id}) }}">{{ game.teams[0].team.name }}</a>
			 VS 
			<a href="{{ path('aueio_club_team_view', {"id": game.teams[0].team.id}) }}">{{ game.teams[1].team.name }}</a></p>
		</li>
    {% else %}
        <h1>No Game found</h1>
    {% endfor %}
	</ul>
{% endblock %}