{# src/Aueio/ClubBundle/Resources/views/Game/result.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game Result {{ game.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">Selection</a>
	<li class="selected"><a href="{{ path('aueio_club_game_result', {"id": game.id}) }}">Results</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">New</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<div class="full">
		{% include 'AueioClubBundle:Game:header.html.twig' %}
		<form action="{{ path('aueio_club_game_result', {"id": game.id}) }}" method="post" {{ form_enctype(form) }}>
			<h3>Teams</h3>
		    <ul id="results">
		    {% for role in form.roles %}<li class="cols">
						{{ form_errors(role.score) }}
						{{ form_widget(role.score) }}
						pour les  {% include 'AueioClubBundle:Role:type.html.twig' with {'role':role.vars.value} %} ({% include 'AueioClubBundle:Team:link.html.twig' with {'team': role.vars.value.team} %})
		        </li>{% endfor %}
		    </ul>
		<div id="game-comment" >
			<h3>Commentaires</h3>
			{{ form_errors(form.comment) }}
			{{ form_widget(form.comment) }}
		</div>
		{% include 'AueioClubBundle::form.submit.html.twig' %}
	</div>
</div>
{% endblock %}
