{# src/Aueio/ClubBundle/Resources/views/Game/score.html.twig #}
{% extends 'AueioClubBundle::base.html.twig' %}

{% block title %}
	{{ 'game.title.score'|trans({}, 'AueioClubBundle') }}
{% endblock %}


{% block body %}
		<ul id="results">
		    <li class="cols">
			{% include 'AueioClubBundle:Team:link.html.twig' with {'team': teams['focus']} %}<div class="value">{{ score_focus }}</div>
			</li><li class="cols">
			<div class="value">{{ score_opponent }}</div>{% include 'AueioClubBundle:Team:link.html.twig' with {'team': teams['opponent']} %}
			</li>
		</ul>
		<ul id="scores" class="cols">
	    {% for player in players %}
			<li>
				<ul>
				{% if player['type'] == 'save' %}
					<li class="goal selected"><a href="">G</a></li>
				{% else %}
					<li class="goal"><a href="{{ path('aueio_club_game_score', {"id":game.id, "id_goal": player['object'].id}) }}" title="Gardien">G</a></li>
				{% endif %}
				{% if player['isReferee'] %}
					<li class="referee delete"><a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player['object'].id, "type": "referee"}) }}" title="Arbitre">A</a></li>
				{% else %}
					<li class="referee add"><a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player['object'].id, "type": "referee"}) }}" title="Arbitre">A</a></li>
				{% endif %}
					<li>{% include 'AueioClubBundle:Player:link.html.twig' with {'player':player['object']} %}</li>
					<li>
						<ul class="count">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player['object'].id, "type": player['type']}) }}" title="{{ 'score.decrease'|trans({}, 'AueioClubBundle') }}">
									<img  src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
								</a>
							</li><li class="value">{{  player['action'] }}</li><li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player['object'].id, "type": player['type'] }) }}" title="{{ 'score.increase'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="plus logo">
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
	    {% endfor %}
		</ul><ul id="opponents" class="cols">
	    {% for player in opponents %}
			<li>
				<ul>
					<li>
						<ul class="count">
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player['object'].id, "type": player['type'] }) }}" title="{{ 'score.increase'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="plus logo">
								</a>
							</li><li class="value">{{  player['action'] }}</li><li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player['object'].id, "type": player['type']}) }}" title="{{ 'score.decrease'|trans({}, 'AueioClubBundle') }}">
									<img  src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
								</a>
							</li>
						</ul>
					</li>
					<li>{% include 'AueioClubBundle:Player:link.html.twig' with {'player':player['object']} %}</li>
					<li>
						<ul class="count">
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player['object'].id, "type": "play" }) }}" title="{{ 'score.increase'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="plus logo">
								</a>
							</li><li class="value">{{  player['number'] }}</li><li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player['object'].id, "type": "play"}) }}" title="{{ 'score.decrease'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
	    {% endfor %}
		</ul>
{% endblock %}
