{# src/Aueio/ClubBundle/Resources/views/Game/score.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'game.title.score'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game['id']}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game['id']}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_game_score', {"id": game['id']}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game['id']}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game['id']}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game['id']}) }}">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game-scores">
	<div class="full">
		<ul id="results">
		    <li class="cols">
			{% include 'AueioClubBundle:Role:type.html.twig' with {'role': game['roles'][0]} %}<div class="value">{{ game['scores'][0] }}</div>
			</li><li class="cols">
			<div class="value">{{ game['scores'][1] }}</div>{% include 'AueioClubBundle:Role:type.html.twig' with {'role': game['roles'][1]} %}
			</li>
		</ul>
		<ul id="scores" class="cols">
	    {% for player in players %}
			<li><ul>
			{% if player['object'].id == id_goal %}
				<li class="goal selected"><a href="">G</a></li>
			{% else %}
				<li class="goal"><a href="{{ path('aueio_club_game_score', {"id":game['id'], "id_goal": player['object'].id}) }}" title="Gardien">G</a></li>
			{% endif %}
			{% if player['isReferee'] %}
				<li class="referee delete"><a href="{{ path('aueio_club_action_delete', {"id_game": game['id'], "id_player": player['object'].id, "type": "referee"}) }}" title="Arbitre">A</a></li>
			{% else %}
				<li class="referee add"><a href="{{ path('aueio_club_action_add', {"id_game": game['id'], "id_player": player['object'].id, "type": "referee"}) }}" title="Arbitre">A</a></li>
			{% endif %}
				<li class="surname">{{ player['object'].surname }}</li>
			{% if player['action'] %}
				<li class="action">{% include 'AueioClubBundle:Action:score.update.html.twig' with {'action': player['action'][0]} %}</li>
			{% else %}
				<li class="action">{% include 'AueioClubBundle:Action:score.create.html.twig' with {'id_game': game['id'], 'player':player['object'], 'id_goal':id_goal} %}</li>
			{% endif %}	
			</ul></li>
	    {% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
