{# src/Aueio/ClubBundle/Resources/views/Game/score.html.twig #}
{% extends 'AueioClubBundle:Game:header.html.twig' %}

{% block title %}
	{{ 'game.title.score'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_LEADER") %}
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
	<li class="mobile"><a href="{{ path('aueio_club_game_score', {"id": game.id, "browser": "mobile"}) }}">{{ 'sidebar.mobile'|trans({}, 'AueioClubBundle') }}</a>
	
{% endblock %}

{% block content %}
	{{ parent() }}
	{% include 'AueioClubBundle:Game:score.html.twig' %}
	</div>
</div>
{% endblock %}
