<ul id="results">
    <li class="cols">
	{% include 'AueioClubBundle:Team:link.html.twig' with {'team': teams['focus']} %}<div id="score{{ teams['focus'].id }}" class="value">{{ score_focus }}</div>
	</li><li class="cols">
	<div id="score{{ teams['opponent'].id }}" class="value">{{ score_opponent }}</div>{% include 'AueioClubBundle:Team:link.html.twig' with {'team': teams['opponent']} %}
	</li>
</ul>
<ul id="scores" class="cols">
{% for player_id, actions in actions_focus %}
	<li>
		<ul>
		<li class="goal">
           <button id="goal{{ player_id }}" class="register-action add" data-action="add" data-idgame="{{ game.id }}" data-idteam="{{ teams['focus'].id }}" data-idplayer="{{ player_id }}" data-type="goal" type="button">G</button>
        </li>
        <li class="referee">
		   <button id="referee{{ player_id }}" class="register-action add" data-action="add" data-idgame="{{ game.id }}" data-idteam="{{ teams['focus'].id }}" data-idplayer="{{ player_id }}" data-type="referee" type="button">A</button>
		</li>
			<li>{% include 'AueioClubBundle:Player:link.html.twig' with {'player':actions['player']} %}</li>
			<li>
				<ul class="count">
					<li>
					   <button id="del{{ player_id }}" class="register-action" data-action="del" data-idgame="{{ game.id }}" data-idteam="{{ teams['focus'].id }}" data-idplayer="{{ player_id }}" data-type="score" type="button">
                           <img  src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
                       </button>
					</li><li id="value{{ player_id }}" class="value">
						{% if actions['score'] is defined %}
							{{- actions['score'] -}}
						{% elseif actions['save'] is defined %}
						    {{- actions['save'] -}}  
						{% else %}0{% endif %}
					</li><li>
					   <button id="add{{ player_id }}" class="register-action" data-action="add" data-idgame="{{ game.id }}" data-idteam="{{ teams['focus'].id }}" data-idplayer="{{ player_id }}" data-type="score" type="button">
					       <img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="plus logo">
					   </button>
					</li>
				</ul>
			</li>
		</ul>
	</li>
{% endfor %}
</ul><ul id="opponents" class="cols">
{% for player_id, actions in actions_opponent %}
	<li>
		<ul>
			<li>
				<ul class="count">
					<li>
						<button class="register-action" data-action="add" data-idgame="{{ game.id }}" data-idteam="{{ teams['opponent'].id }}" data-idplayer="{{ player_id }}" data-type="score" type="button">
                            <img  src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="minus logo">
                        </button>
					</li><li id="value{{ player_id }}" class="value">
						{% if actions[actions['type']] is defined %}
							{{- actions[actions['type']] -}}
						{% else %}0{% endif %}
					</li><li>
                        <button class="register-action" data-action="del" data-idgame="{{ game.id }}" data-idteam="{{ teams['opponent'].id }}" data-idplayer="{{ player_id }}" data-type="score" type="button">
                            <img  src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
                        </button>
					</li>
				</ul>
			</li>
			<li>{% include 'AueioClubBundle:Player:link.html.twig' with {'player':actions['player']} %}</li>
			<li>
				<ul class="count">
					<li>
						<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player_id, "type": "play" }) }}" title="{{ 'score.increase'|trans({}, 'AueioClubBundle') }}">
							<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_add.png" alt="plus logo">
						</a>
					</li><li class="value">{{  actions['play'] }}</li><li>
						<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player_id, "type": "play"}) }}" title="{{ 'score.decrease'|trans({}, 'AueioClubBundle') }}">
							<img src="/bundles/aueioclub/images/Crystal_Clear_action_edit_remove.png" alt="minus logo">
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
{% endfor %}
</ul>