{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game selection {{ game.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle:Game:header.html.twig' %}
{% endblock %}

{% block sidebar %}
	<li class="selected"><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">Selection</a>
	<li><a href="{{ path('aueio_club_game_result', {"id": game.id}) }}">Results</a>
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">New</a></li>
{% endblock %}

{% block content %}
	<div id="game-header">
		<div id="game-desc" class="game-col">
			<div id="game-avatar"
				<img alt="game photo" title="inria link" src="http://adt/bundles/inriajob/images/logo-inria.png">
			</div>
			<h1>{{ game.teams[0].team.name }} VS {{ game.teams[1].team.name }}</h1>
			<p>{{ game.date|date("d M Y") }}</p>
		</div>
	</div>
	<div id="game-content">
		<ul class="game-selection-cols">
			<li>
				<h4>Disponibles ({{ wait|length }})</h4>
				<ul>
			    {% for player in wait %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li><a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Selectionner">S</a></li>
							<li><a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Absent">A</a></li>
						</ul>
					</li>
			    {% else %}
			        <h3>No Player found</h3>
			    {% endfor %}
				</ul>
			</li><li>
				<h4>Absents ({{ miss|length }})</h4>
				<ul>
			    {% for player in miss %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li><a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Modifier">M</a></li>
						</ul>
					</li>
			    {% else %}
			        <h3>No Player found</h3>
			    {% endfor %}
				</ul>
			</li><li>
				<h4>Courses</h4>
				<ul>
			    {% for player in shop %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li><a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Modifier">M</a></li>
						</ul>
					</li>
			    {% else %}
			        <h3>No Player found</h3>
			    {% endfor %}
			    </ul>
			</li><li>
				<h4>Sélectionnés ({{ play|length }})</h4>
				<ul>
			    {% for player in play %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li><a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Modifier">M</a></li>
							<li><a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Courses">C</a></li>
						</ul>
					</li>
			    {% else %}
			        <h3>No Player found</h3>
			    {% endfor %}
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}
