{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'game.title.selection'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<div class="full">
		{% include 'AueioClubBundle:Game:header.html.twig' %}
	</div>
	<div id="game-manage">
		<ul class="game-selection-cols">
			<li class="wait">
				<h4>{{ 'game.selection.wait'|trans({'%count%': players['wait']|length}, 'AueioClubBundle') }}</h4>
				<ul>
			    {% for player in players['wait'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player.id, "type": "play"}) }}" title="{{ 'game.selection.link.play'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_apply.png" alt="valid logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player.id, "type": "miss"}) }}" title="{{ 'game.selection.link.miss'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
				</ul>
			</li><li class="miss">
				<h4>{{ 'game.selection.miss'|trans({'%count%': players['miss']|length}, 'AueioClubBundle')}}</h4>
				<ul>
			    {% for player in players['miss'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player.id, "type": "hurt"}) }}" title="{{ 'game.selection.link.hurt'|trans({}, 'AueioClubBundle') }}">
									<img style="height: 20px;margin-top: -2px;" src="/bundles/aueioclub/images/first_aid.png" alt="aid logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player.id, "type": "miss"}) }}" title="{{ 'game.selection.link.modify'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
				</ul>
				<h4>{{ 'game.selection.hurt'|trans({'%count%': players['hurt']|length}, 'AueioClubBundle')}}</h4>
				<ul>
			    {% for player in players['hurt'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player.id, "type": "hurt"}) }}" title="{{ 'game.selection.link.modify'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
				</ul>
			</li><li class="shop">
				<h4>{{ 'game.selection.shop'|trans({}, 'AueioClubBundle') }}</h4>
				<ul>
			    {% for player in players['shop'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player.id, "type": "shop"}) }}" title="{{ 'game.selection.link.modify'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'game.selection.noshop'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			    <h4>{{ 'game.selection.referee'|trans({}, 'AueioClubBundle') }}</h4>
				<ul>
			    {% for player in players['referee'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player.id, "type": "referee"}) }}" title="{{ 'game.selection.link.modify'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</li><li class="play">
				<h4>{{ 'game.selection.play'|trans({'%count%': players['play']|length}, 'AueioClubBundle') }}</h4>
				<ul>
			    {% for player in players['play'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player.id, "type": "referee"}) }}" title="{{ 'game.selection.link.referee'|trans({}, 'AueioClubBundle') }}">
									<img  src="/bundles/aueioclub/images/icon_whistle.gif" alt="cancel logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_add', {"game_id": game.id, "player_id": player.id, "type": "shop"}) }}" title="{{ 'game.selection.link.shop'|trans({}, 'AueioClubBundle') }}">
									<img style="height: 20px;margin-top: -2px;" src="/bundles/aueioclub/images/logo-panier.png" alt="cancel logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_delete', {"game_id": game.id, "player_id": player.id, "type": "play"}) }}" title="{{ 'game.selection.link.modify'|trans({}, 'AueioClubBundle') }}">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	
	<div id="game-selection">
		<h4>{{ 'game.selection.details'|trans({}, 'AueioClubBundle') }}</h4>
		<div id="game-background">
			<div id="wing_left">
				<ul>
				{% if players['positions'][1]|length > 1 %}
					{% for player in players['positions'][1] %}
						{% if loop.index is divisibleby(2) %}
						<li class="player">
							{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						</li>
						{% endif %}
					{% endfor %}
				{% else %}
			    		<h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
				{% endif %}
			    </ul>
			</div>
			<div id="back_left">
				<ul>
				{% if players['positions'][1]|length > 1 %}
					{% for player in players['positions'][0] %}
						{% if loop.index is divisibleby(2) %}
							<li class="player">
							{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						</li>
						{% endif %}
					{% endfor %}
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endif %}
			    </ul>
			</div>
			<div id="goal">
				<ul>
				{% for player in players['positions'][4] %}
					<li class="player">
					{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
					</li>
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</div>
			<div id="pivot">
				<ul>
				{% for player in players['positions'][2] %}
					<li class="player">
					{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
					</li>
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</div>
			<div id="center">
				<ul>
				{% for player in players['positions'][3] %}
					<li class="player">
					{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
					</li>
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</div>
			<div id="back_right">
				<ul>
				{% for player in players['positions'][0] %}
					{% if loop.index is not divisibleby(2) %}
						<li class="player">
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						</li>
					{% endif %}
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</div>
			<div id="wing_right">
				<ul>
				{% for player in players['positions'][1] %}
					{% if loop.index is not divisibleby(2) %}
						<li class="player">
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						</li>
					{% endif %}
				{% else %}
			        <h5>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h5>
			    {% endfor %}
			    </ul>
			</div>
	    </div>
	</div>

</div>
{% endblock %}
