{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game view {{ game.id }}
{% endblock %}

{% block sidebar %}
	{% include 'AueioClubBundle:Game:sidebar.html.twig' with {'game': game} %}
{% endblock %}

{% block content %}
	<div id="game-header">
		<div id="game-desc" class="game-col">
			<div id="game-avatar"
				<img alt="game photo" title="inria link" src="http://adt/bundles/inriajob/images/logo-inria.png">
			</div>
			<h1>{{ game.teams[0].team.name }} VS {{ game.teams[1].team.name }}</h1>
			<p>{{ game.date|date("d M Y") }}</p>
		</div>
	</div>

	<div id="game-content">
		<div id="game-wait" class="game-selection-col">
			<h4>Disponible</h4>
			<ul>
		    {% for player in wait %}
				<li>
					<p>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Present">P</a>
						<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Absent">A</a>
					</p>
				</li>
		    {% else %}
		        <h3>No Player found</h3>
		    {% endfor %}
			</ul>
		</div><div id="game-miss" class="game-selection-col">
			<h4>Absents</h4>
			<ul>
		    {% for player in miss %}
				<li>
					<p>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Modifier">M</a>
					</p>
				</li>
		    {% else %}
		        <h3>No Player found</h3>
		    {% endfor %}
			</ul>
		</div><div id="game-shop" class="game-selection-col">
			<h4>Courses</h4>
			<ul>
		    {% for player in shop %}
				<li>
					<p>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Modifier">M</a>
					</p>
				</li>
		    {% else %}
		        <h3>No Player found</h3>
		    {% endfor %}
		</div><div id="game-play" class="game-selection-col">
			<h4>Selection</h4>
			<ul>
		    {% for player in play %}
				<li>
					<p>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Modifier">M</a>
						<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Courses">C</a>
					</p>
				</li>
		    {% else %}
		        <h3>No Player found</h3>
		    {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
