{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game selection {{ game.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
	<li class="selected"><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'game.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'game.score'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'game.sheet'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">New</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<div class="full">
		{% include 'AueioClubBundle:Game:header.html.twig' %}
	</div>
	<div id="game-manage">
		<ul class="game-selection-cols">
			<li>
				<h4>En attente ({{ players['wait']|length }})</h4>
				<ul>
			    {% for player in players['wait'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Selectionner">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_apply.png" alt="valid logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Absent">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h4>Aucuns</h4>
			    {% endfor %}
				</ul>
			</li><li>
				<h4>Absents ({{ players['miss']|length }})</h4>
				<ul>
			    {% for player in players['miss'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "miss"}) }}" title="Modifier">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h4>Aucuns</h4>
			    {% endfor %}
				</ul>
			</li><li>
				<h4>Courses</h4>
				<ul>
			    {% for player in players['shop'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Modifier">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h4>Besoin d'un volontaire</h4>
			    {% endfor %}
			    </ul>
			</li><li>
				<h4>Présents ({{ players['play']|length }})</h4>
				<ul>
			    {% for player in players['play'] %}
					<li>
						{% include 'AueioClubBundle:Player:link.html.twig' with {'player': player} %}
						<ul class="game-selection-menu">
							<li>
								<a href="{{ path('aueio_club_action_add', {"id_game": game.id, "id_player": player.id, "type": "shop"}) }}" title="Courses">
									<img style="height: 20px;margin-top: -2px;" src="/bundles/aueioclub/images/logo-panier.png" alt="cancel logo">
								</a>
							</li>
							<li>
								<a href="{{ path('aueio_club_action_delete', {"id_game": game.id, "id_player": player.id, "type": "play"}) }}" title="Modifier">
									<img src="/bundles/aueioclub/images/Crystal_Clear_action_button_cancel.png" alt="cancel logo">
								</a>
							</li>
						</ul>
					</li>
			    {% else %}
			        <h4>Aucuns</h4>
			    {% endfor %}
				</ul>
			</li>
		</ul>
	</div>
	<div id="game-selection">
		<h4>Détails de la sélection</h4>
		<ul>
		{% for player in players['play'] %}
			<li class="player">
			{% include 'AueioClubBundle:Player:short.html.twig' with {'player': player} %}
			</li>
		{% else %}
	        <h4>Aucuns</h4>
	    {% endfor %}
	    </ul>
	</div>

</div>
{% endblock %}
