{# src/Aueio/ClubBundle/Resources/views/Game/result.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'game.title.sheet'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endblock %}

{% block content %}
<div id="game">
	<div class="full">
		{% include 'AueioClubBundle:Game:header.html.twig' %}
		<form action="{{ path('aueio_club_game_sheet', {"id": game.id}) }}" method="post" {{ form_enctype(form) }}>
			<h3>{{ 'game.sheet.title.scores'|trans({}, 'AueioClubBundle') }}</h3>
			<p>{{ 'game.sheet.info.scores'|trans({}, 'AueioClubBundle') }}</p>
		    <ul id="results">
		    {% for role in form.game.roles %}<li class="cols">
						{{ form_errors(role.score) }}
						{{ form_widget(role.score) }}
						pour les  {% include 'AueioClubBundle:Role:type.html.twig' with {'role':role.vars.value} %} ({% include 'AueioClubBundle:Team:link.html.twig' with {'team': role.vars.value.team} %})
		        </li>{% endfor %}
		    </ul>
{% if form.cost is defined %}    
		<div id="game-shop" >
			<h3>{{ 'game.sheet.title.shop'|trans({}, 'AueioClubBundle') }}</h3>
			<p>{{ 'game.sheet.info.shop'|trans({}, 'AueioClubBundle') }}{% include 'AueioClubBundle:Player:link.html.twig' with {'player': form.vars.value.volunteer} %}</p>
			{{ form_errors(form.cost) }}
			{{ form_widget(form.cost) }}
		</div>
{% endif %}
		<div id="game-comment" >
			<h3>{{ 'game.sheet.title.comment'|trans({}, 'AueioClubBundle') }}</h3>
			{{ form_errors(form.game.comment) }}
			{{ form_widget(form.game.comment) }}
		</div>
		{% include 'AueioClubBundle::form.submit.html.twig' %}
	</div>
</div>
{% endblock %}
