<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">Selection</a>
<li><a href="{{ path('aueio_club_game_result', {"id": game.id}) }}">Results</a>
<li><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
<li><a href="{{ path('aueio_club_game_new') }}">New</a></li>
