{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	Game view {{ game.id }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">View</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">Selection</a>
	<li><a href="{{ path('aueio_club_game_result', {"id": game.id}) }}">Results</a>
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">Edit</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}">Delete</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">New</a></li
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	{% include 'AueioClubBundle:Game:full.html.twig' with {'game': game} %}
</div>
{% endblock %}
