{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle:Game:header.html.twig' %}

{% block title %}
	{{ 'game.title.view'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_LEADER") %}
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li
{% endif %}
{% endblock %}

{% block content %}
	{{ parent() }}
		<ul>
	{% for role in game.roles %}<li class="cols">
			{% set players = game.getPlayers(role.team) %}
			<h4>{{ 'game.selection.title'|trans({'%count%':players|length}, 'AueioClubBundle') }}</h4>
			<ul>
			{% for player in players %}
				<li class="player">{% include 'AueioClubBundle:Player:short.html.twig' with {'player': player} %}</li>
	    	{% else %}
	        	<h4>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h4>
			{% endfor %}
			</ul>
			</li>{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
