{# src/Aueio/ClubBundle/Resources/views/Game/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'game.title.view'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "game"} %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_game_view', {"id": game.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
{% if is_granted("ROLE_USER") %}
	<li><a href="{{ path('aueio_club_game_selection', {"id": game.id}) }}">{{ 'sidebar.selection'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_score', {"id": game.id}) }}">{{ 'sidebar.score'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_sheet', {"id": game.id}) }}">{{ 'sidebar.sheet'|trans({}, 'AueioClubBundle') }}</a>
{% endif %}
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_game_edit', {"id": game.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_game_delete', {"id": game.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
	<li><a href="{{ path('aueio_club_game_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li
{% endif %}
{% endblock %}

{% block content %}
<div id="game">
	<div class="full">
		{% include 'AueioClubBundle:Game:header.html.twig' %}
		<ul>
	{% for role in game.roles %}<li class="cols">
			{% include 'AueioClubBundle:Role:score.html.twig' with {'role': role} %}
			<ul>
			{% for player in game.getPlayers(role.team.id) %}
				<li class="player">{% include 'AueioClubBundle:Player:short.html.twig' with {'player': player} %}</li>
	    	{% else %}
	        	<h3>{{ 'player.notfound'|trans({}, 'AueioClubBundle') }}</h3>
			{% endfor %}
			</ul>
			</li>{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
