{% extends 'form_div_layout.html.twig' %}

{% block field_label %}
	{% spaceless %}
		{% if  label is defined and (label|length > 0) %}
		<label for="{{ id }}">{{ label }}</label>
		{% else %}
		<label for="{{ id }}">{{ id|trans([], 'AueioClubBundle') }}</label>
	    {% endif%}
	{% endspaceless %}
    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% block radio_label %}
	{% spaceless %}
	    <label for="{{ id }}">{{ label }}</label>
	{% endspaceless %}
{% endblock %}