{# src/Aueio/ClubBundle/Resources/views/layout.html.twig #}
{% extends 'AueioClubBundle::base.html.twig' %}

{% block body %}

	<div id="header" style="background-color: hsl({{ app.session.get('season_color') }}, 25%, 48%);">
		<div class="inner">
			<div id="header_switch">
			{% render 'AueioClubBundle:Season:switch' %}
			</div><div id="header_title">
				<h1>		
					<a href="{{ path('_welcome') }}">Meylan Handball Club</a>
				</h1>
			</div>
			<ul id="header_menu" class="clearfix">
			{% block header_menu %}
			{% endblock %}
		    </ul>
		    <div>
		    <script type="text/javascript">
		    $(document).ready(function() {
		    	$(".message").animate({opacity: '1.0'}, delay).fadeOut('slow');
		    </script>
			
				<ul class="system-messages">
		        {% for key, message in app.session.getFlashes() %}
		        <li class="{{ key }} message" style="opacity: 0.9; display: none;">
		            {{ message|trans({}, 'FOSUserBundle') }}
		        </li>
		        {% endfor %}
		        </ul>
			</div>
	    </div>
	</div>
	<div id="wrapper">
		<div class="inner">
			<div id="layout">
				<div id="sidebar" style="background-color: hsla({{ app.session.get('season_color') }}, 25%, 48%, 0.3);">
		       		 <ul id="sidebar_menu">
		            {% block sidebar %}
		            {% endblock %}
		            </ul>
		        </div>

		        <div id="content">
		        	<div id="content-login">
			       		<div>
			            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			            	<a href="{{ path('aueio_club_player_view', {"id": app.user.id}) }}">
			                {{ 'layout.logged_in_as'|trans({'%username%': app.user.firstname}, 'FOSUserBundle') }}
			                </a> |
			                <a href="{{ path('fos_user_security_logout') }}">
			                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			                </a>
			            {% else %}
			            	<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>  |
			            	<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
			            {% endif %}
			        	</div>
		        	</div>
		            {% block content %}
		            {% endblock %}
		        </div>
	        </div>
	    </div>
     </div>
     
     <div id="footer">
		<div class="inner">
			<div id="footer_menu">
				<ul>
				{% block footer_menu %}
			    {% endblock %}
			    </ul>
		    </div>
	    </div>
	</div>
        
{% endblock %}