{# src/Aueio/ClubBundle/Resources/views/layout.html.twig #}
{% extends 'AueioClubBundle::base.html.twig' %}

{% block body %}

	<div id="header" style="background-color: rgb({{ app.session.get('context.season_color') }});">
		<div class="inner">
			<div id="header_switch">
			{% render 'AueioClubBundle:Season:switch' %}
			</div><div id="header_title">
				<h1>		
					<a href="{{ path('_welcome') }}">{{ 'layout.title'|trans({}, 'AueioClubBundle') }}</a>
				</h1>
			</div>
			<ul id="header_menu" class="clearfix">
			{% block header_menu %}
			{% endblock %}
		    </ul>
		    <div>
				<ul class="system-messages">
				{% for flashMessage in app.session.flashbag.get('notice') %}
				    <li class="message notice">
				        {{ flashMessage }}
				    </li>
				{% endfor %}
		        {% for key, message in app.session.getFlashes() %}
			        <li class="{{ key }} message" style="opacity: 0.9; display: none;">
			            {{ message|trans({}, 'AueioClubBundle') }}
			        </li>
		        {% endfor %}
		        </ul>
		        <script>
					  $("ul").click(function () {
						  $(this).fadeOut("slow");
					  });
			  	</script>
			</div>
	    </div>
	</div>
	<div id="wrapper">
		<div class="inner">
			<div id="layout" style="background-color: rgba({{ app.session.get('context.season_color') }}, 0.3)">
				<div id="sidebar">
		       		 <ul id="sidebar_menu">
		            {% block sidebar %}
		            {% endblock %}
		            </ul>
		        </div>

		        <div id="content">
		        	<div id="content-login">
			       		<div>
			            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			            	<a href="{{ path('aueio_club_player_view', {"id": app.user.id}) }}">
			                {{ 'layout.logged_in_as'|trans({'%username%': app.user.firstname}, 'FOSUserBundle') }}
			                </a> |
			                <a href="{{ path('fos_user_security_logout') }}">
			                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			                </a>
			            {% else %}
			            	<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>  |
			            	<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
			            {% endif %}
			        	</div>
		        	</div>
		            {% block content %}
		            {% endblock %}
		        </div>
	        </div>
	    </div>
     </div>
     
     <div id="footer" style="background-color: rgb({{ app.session.get('context.season_color') }});">
		<div class="inner">
			<div id="footer_menu">
				<ul>
					<li>
						<a href="mailto:{{ 'layout.contact.email'|trans({}, 'AueioClubBundle') }}?subject=[HandBall]+Admin">
							{{- 'layout.contact.link'|trans({}, 'AueioClubBundle') -}}
				        </a>
			         </li>
				{% block footer_menu %}
			    {% endblock %}
			    </ul>
		    </div>
	    </div>
	</div>
        
{% endblock %}