{% block subject %}
{% autoescape false %}
{{ 'email.subject.tag'|trans({},'AueioClubBundle') }} {{ 'email.subject.registration'|trans({},'AueioClubBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'email.message.hello'|trans({'%firstname%': user.firstname}, 'AueioClubBundle') }}

{{ 'email.message.registration'|trans({},'AueioClubBundle') }} {{ 'email.message.link'|trans({},'AueioClubBundle') }}
{{ confirmationUrl }}

{{ 'email.message.form'|trans({}, 'AueioClubBundle') }}
{{ 'email.message.sign'|trans({}, 'AueioClubBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
{{ 'email.message.hello'|trans({'%firstname%': user.firstname}, 'AueioClubBundle') }}
<br /><br />
{{ 'email.message.registration'|trans({},'AueioClubBundle') }} <a href="{{confirmationUrl}}">{{ 'email.message.link'|trans({},'AueioClubBundle') }}</a>
<br /><br />
{{ 'email.message.form'|trans({}, 'AueioClubBundle') }}
<br />
{{ 'email.message.sign'|trans({}, 'AueioClubBundle') }}
{% endautoescape %}
{% endblock %}
