{# src/Aueio/ClubBundle/Resources/views/Player/full.html.twig #}
<div class="player-view full">
	<div id="player-header">
		<div id="player-desc" class="player-col">
			<div id="player-avatar"
				<img alt="player photo" title="inria link" src="http://adt/bundles/inriajob/images/logo-inria.png">
			</div>
			<p>{{ 'player.surname'|trans({}, 'AueioClubBundle') }} : {{ player.surname }}</p>
			{% if me %}
			<p>{{ 'player.username'|trans({}, 'AueioClubBundle') }} : {{ player.username }}</p>
			{% endif %}
		</div><div id="player-contact" class="player-col">
			<p>{{ player.firstname }} {{ player.lastname }}</p>
			<p>{{ player.email }}</p>
			<p>{{ player.phone }}</p>
			<p>{{ player.adress}}</p>
		</div>
	</div>
	<div id="player-teams" class="player-col">
		<p>Team {{ player.team.name }}</p>
	</div><div id="player-info" class="player-col">
		<p>possède une voiture</p>
		<p>{{ 'player.position'|trans({}, 'AueioClubBundle') }} : {{ 'player.' ~ player.position|trans({}, 'AueioClubBundle') }}</p>
		<p>{{ 'player.hand'|trans({}, 'AueioClubBundle') }} : {{ 'player.' ~ player.hand|trans({}, 'AueioClubBundle') }}</p>
	</div>
	<div id="player-stats">
		<p>X Buts		X Matchs         0.x Ratio</p>
		<p>X Quart-temps arbitrage		Courses</p>
	</div>
</div>
