{# src/Aueio/ClubBundle/Resources/views/Player/edit.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'player.title.view'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block sidebar %}
	<li><a href="{{ path('aueio_club_player_view', {"id": app.user.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_player_contact', {"id": app.user.id}) }}">{{ 'sidebar.contact'|trans({}, 'AueioClubBundle') }}</a>
	<li class="selected"><a href="{{ path('fos_user_profile_edit', {"id": app.user.id}) }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_player_delete', {"id": app.user.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
{% endblock %}

{% form_theme form 'AueioClubBundle::form.theme.html.twig' %}

{% block content %}
	<div id="player">
		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		  	{% include 'AueioClubBundle::form.submit.html.twig' %}
		</form>
	</div>
{% endblock %}
