{% autoescape false %}
{{ 'email.message.hello'|trans({'%firstname%': user.firstname}, 'AueioClubBundle') }}
<br /><br />
{{ 'email.message.resetting'|trans({},'AueioClubBundle') }} <a href="{{confirmationUrl}}">{{ 'email.message.link'|trans({},'AueioClubBundle') }}</a>
<br /><br />
{{ 'email.message.sign'|trans({}, 'AueioClubBundle') }}
{% endautoescape %}