{# src/Aueio/ClubBundle/Resources/views/Player/view.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'player.title.edit'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "player"} %}
{% endblock %}

{% block sidebar %}
	<li  class="selected"><a href="{{ path('aueio_club_player_view', {"id": player.id}) }}">{{ 'sidebar.view'|trans({}, 'AueioClubBundle') }}</a>
{% if (player == app.user) %}
	<li><a href="{{ path('fos_user_profile_edit') }}">{{ 'sidebar.edit'|trans({}, 'AueioClubBundle') }}</a>
	<li><a href="{{ path('aueio_club_player_delete', {"id": player.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
{% elseif is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_player_delete', {"id": player.id}) }}" onclick="return confirm('{{ 'sidebar.confirm'|trans({}, 'AueioClubBundle') }}')">{{ 'sidebar.delete'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="player">
	<div class="full">
		<div id="player-header">
			<div id="player-desc" class="cols">
				<p>{{ 'player.name'|trans({}, 'AueioClubBundle') }} : {{ player.firstname }}{% if is_granted("ROLE_USER") %} {{ player.lastname }}{% endif %}</p>
				{% if (player == app.user) %}
				<p>{{ 'player.username'|trans({}, 'AueioClubBundle') }} : {{ player.username }}</p>
				{% endif %}
				<p>{{ 'player.position'|trans({}, 'AueioClubBundle') }} : {{ ('player.' ~ player.position)|trans({}, 'AueioClubBundle') }}</p>
				<p>{{ 'player.hand'|trans({}, 'AueioClubBundle') }} : {{ ('player.' ~ player.hand)|trans({}, 'AueioClubBundle') }}</p>
				{% if player.car %}
				<p>{{ 'player.view.car'|trans({}, 'AueioClubBundle') }}</p>
				{% else %}
				<p>{{ 'player.view.nocar'|trans({}, 'AueioClubBundle') }}</p>
				{% endif %}
			</div><div id="player-contact" class="cols">
			{% if is_granted("ROLE_USER") %}
				<p>{{ player.email }}</p>
				<p>{{ player.phone }}</p>
				<p>{{ player.adress}}</p>
			{% endif %}
			</div>
		</div>
		<div id="player-teams" class="cols">
			<h3>{{ 'player.view.title.team'|trans({}, 'AueioClubBundle') }}</h3>{% if player.team %}{% include 'AueioClubBundle:Team:link.html.twig' with {'team': player.team} %}{% else %}{{ 'team.notfound'|trans({}, 'AueioClubBundle') }}{%  endif %}</p>
		</div>
		{% render "AueioClubBundle:Player:stats"  with {'player': player}%}
	</div>
</div>
{% endblock %}
