{# src/Aueio/ClubBundle/Resources/views/Season/list.html.twig #}
{% extends 'AueioClubBundle::layout.html.twig' %}

{% block title %}
	{{ 'season.title.list'|trans({}, 'AueioClubBundle') }}
{% endblock %}

{% block header_menu %}
	{% include 'AueioClubBundle::tab.menu.html.twig' with {'selected': "season"} %}
{% endblock %}

{% block sidebar %}
{% if is_granted("ROLE_ADMIN") %}
	<li><a href="{{ path('aueio_club_season_new') }}">{{ 'sidebar.new'|trans({}, 'AueioClubBundle') }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="season">
	<h2>{{ 'season.title.list'|trans({}, 'AueioClubBundle') }}</h2>
	<ul class="list">
    {% for season in seasons %}
		<li>{% include 'AueioClubBundle:Season:short.html.twig' %}</li>
    {% else %}
        <h3>{{ 'season.notfound'|trans({}, 'AueioClubBundle') }}</h3>
    {% endfor %}
	</ul>
</div>
{% endblock %}
